/*
 Wes Wise
 animation.css
 MIT License
*/

.animate {
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-duration: 2s;
	animation-fill-mode: both;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-webkit-animation-timing-function: ease-in;
	animation-name: fadeIn;
	animation-timing-function: ease-in;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	-webkit-animation-timing-function: ease-in;
	animation-name: fadeOut;
	animation-timing-function: ease-in;
}

/* movement with fade */
.fadeInLeft {
	-webkit-animation-timing-function: linear, ease-in;
	-webkit-animation-name: fromLeft, fadeIn;
	animation-timing-function: linear, ease-in;
	animation-name: fromLeft, fadeIn;
}

.fadeInRight {
	-webkit-animation-timing-function: ease-in, linear;
	-webkit-animation-naem: fromRight, fadeIn;
	animation-timing-function: ease-in, linear;
	animation-name: fromRight, fadeIn;
}

.fadeInTop {
	-webkit-animation-timing-function: linear, ease-in;
	-webkit-animation-name: fromTop, fadeIn;
	animation-timing-function: linear, ease-in;
	animation-name: fromTop, fadeIn;
}

.fadeInBottom {
	-webkit-animation-timing-function: ease-in, linear;
	-webkit-animation-name: fromBottom, fadeIn;
	animation-timing-function: ease-in, linear;
	animation-name: fromBottom, fadeIn;
}

.fadeOutLeft {
	-webkit-animation-timing-function: linear, ease-in;
	-webkit-animation-name: toLeft, fadeOut;
	animation-timing-function: linear, ease-in;
	animation-name: toLeft, fadeOut;
}

.fadeOutRight {
	-webkit-animation-timing-function: ease-in, linear;
	-webkit-animation-naem: toRight, fadeOut;
	animation-timing-function: ease-in, linear;
	animation-name: toRight, fadeOut;
}

.fadeOutTop {
	-webkit-animation-timing-function: linear, ease-in;
	-webkit-animation-name: toTop, fadeOut;
	animation-timing-function: linear, ease-in;
	animation-name: toTop, fadeOut;
}

.fadeOutBottom {
	-webkit-animation-timing-function: ease-in, linear;
	-webkit-animation-name: toBottom, fadeOut;
	animation-timing-function: ease-in, linear;
	animation-name: toBottom, fadeOut;
}

/* sliding */
.slideLeft {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: toLeft;
	animation-timing-function: linear;
	animation-name: toLeft;
}

.slideTop {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: toTop;
	animation-timing-function: linear;
	animation-name: toTop;
}

.slideRight {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: toRight;
	animation-timing-function: linear;
	animation-name: toRight;
}

.slideBottom {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: toBottom;
	animation-timing-function: linear;
	animation-name: toBottom;
}

/* zooming */
.zoomIn {
	animation-timing-function: ease-in-out;
	animation-name: zoomIn;
}

.zoomOut {
	animation-timing-function: ease-in-out;
	animation-name: zoomOut;
}

/* complete zooming with directions */


/* flipping */

.flipCompleteX {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: flipCompleteX;
	animation-timing-function: linear;
	animation-name: flipCompleteX;
}

.flipCompleteY {
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: flipCompleteY;
	animation-timing-function: linear;
	animation-name: flipCompleteY;
}


/* keyframes - fade in */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* keyframes - fade out */
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* keyframes move from the left */
@-webkit-keyframes fromLeft {
	0% {
		transform: translate3d(-100%,0,0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fromLeft {
	0% {
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* keyframes from right */
@-webkit-keyframes fromRight {
	0% {
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fromRight {
	0% {
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* keyframes from top */
@-webkit-keyframes fromTop {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fromTop {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* keyframes from bottom */
@-webkit-keyframes fromBottom {
	0% {
		transform: translate3d(0, 100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fromBottom {
	0% {
		transform: translate3d(0, 100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* keyframes to right */
@-webkit-keyframes toRight {
	0%{
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes toRight {
	0%{
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

/* keyframes to top */
@-webkit-keyframes toTop {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes toTop {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

/* keyframes to left */
@-webkit-keyframes toLeft {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes toLeft {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

/* keyframes to bottom */
@-webkit-keyframes toBottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes toBottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

/* zooming */
@-webkit-keyframes zoomIn {
	0% {
		transform: scale3d(0, 0, 0);
	}
	100% {
		transform: scale3d(10%, 10%, 0);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale3d(0, 0, 0);
	}
	100% {
		transform: scale3d(10%, 10%, 0);
	}
}

@-webkit-keyframes zoomOut {
	0% {
		transform: scale3d(10%, 10%, 0);
	}
	100% {
		transform: scale3d(0, 0, 0);	
	}
}

@keyframes zoomOut {
	0% {
		transform: scale3d(10%, 10%, 0);
	}
	100% {
		transform: scale3d(0, 0, 0);	
	}
}

/* complete (360) flipping */
@-webkit-keyframes flipCompleteX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

@keyframes flipCompleteX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

@-webkit-keyframes flipCompleteY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes flipCompleteY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}